* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0952032f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header {
    background-color: black;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

#menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#logo-img img {
    width: 150px;
}

li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    background-color: #9209e2c4;
    color: #00ff0d;
    padding: 5px;
    border-radius: 8px;
    font-weight: 500;
}

#menu a:hover {
    background-color: #00ff0d;
    color: #9209e2c4;
    font-weight: 500;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

#titulo-header {
    color: #9209e2;
}

#titulo-header p {
    color: #00ff0d;
}

#introdução {
    background-color: #7000b1;
    color:white;
    padding: 20px;
}

footer {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

footer img {
    width: 80px;
}
